body {
    font-family: Arial, sans-serif;
    background-color: #D5D6D8;
    
    background-image: url('https://static.vecteezy.com/ti/vetor-gratis/p1/13444879-ponto-de-interrogacao-sobre-fundo-branco-vetor.jpg'); /* Define a imagem */
    background-size: contain;    /*talvez trocar contain&cover. Cobre a tela inteira */
    background-repeat: no-repeat;                  /* Não repete a imagem */
    background-attachment: fixed;                  /* Mantém a imagem fixa */
    background-position: center center;            /* Centraliza a imagem no fundo */

}

.imagemcoringa{
    margin-left: 530px;
    margin-top: 140px;
}

.valores{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

